<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>265_136replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1782},{265,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,136}}</string>
                <key>sourceSize</key>
                <string>{265,136}</string>
            </dict>
            <key>265_136shareBTN.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1782},{265,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,136}}</string>
                <key>sourceSize</key>
                <string>{265,136}</string>
            </dict>
            <key>341_157play.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1782},{341,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,157}}</string>
                <key>sourceSize</key>
                <string>{341,157}</string>
            </dict>
            <key>590_475failed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{590,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,475}}</string>
                <key>sourceSize</key>
                <string>{590,475}</string>
            </dict>
            <key>590_475victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,479},{590,465}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{590,465}}</string>
                <key>sourceSize</key>
                <string>{590,475}</string>
            </dict>
            <key>640_1136btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>bg640_1136xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>pot62h.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1982},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>pot62r.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1920},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>taopaoxiongmao00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1920},{76,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1920},{76,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1920},{76,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1920},{76,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1920},{76,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1920},{76,120}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{76,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1920},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1920},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1920},{70,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1920},{70,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1920},{70,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1920},{70,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1920},{70,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1920},{70,120}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{70,120}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1920},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>taopaoxiongmao00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1920},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,126}}</string>
                <key>sourceSize</key>
                <string>{80,126}</string>
            </dict>
            <key>text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{242,178}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{242,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>weizhuxiongmao00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1941},{88,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1941},{88,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1941},{88,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1920},{78,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1920},{78,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1920},{78,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1941},{88,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1941},{88,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1941},{88,121}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1941},{86,101}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{86,101}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1941},{86,101}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{86,101}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1941},{86,101}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{86,101}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1941},{88,95}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1941},{88,95}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>weizhuxiongmao00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1941},{88,95}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CatchPanda.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f264c6673040e6a490eb04039f6d2043:1/1$</string>
            <key>textureFileName</key>
            <string>CatchPanda.pvr.ccz</string>
        </dict>
    </dict>
</plist>
